@import '../../global/styles.scss';

.landing {
  background-image: url('https://uploads-ssl.webflow.com/61a4d4ec5f3f2821cd44ccba/61a5285fafe19f13c9976425_doktori1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //border-top: 5px solid red;
  //border-bottom: 5px solid red;
  .content {
    margin-left: 50px;

    h1 {
      font-size: 20px;
      @include small-screen-and-more {
        font-size: 50px;
      }
    }
    h3 {
      font-size: 15px;
      @include small-screen-and-more {
        font-size: 25px;
      }
    }
  }
}
