.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-left: 3px solid white;

  h2 {
    color: white;
    font-size: 40px;
  }

  form {
    margin-top: 10px;

    label {
      color: white;
      font-size: 18px;
      font-weight: 600;
    }

    input,
    textarea {
      // outline: none;
      // border: 2px solid lightgray;
      font-size: 16px;
      background-color: #c3dad1;
      border-radius: 2px;
      border: 1px solid white;
      width: 400px;
      text-align: left;
      padding: 5px;
      margin: 8px 0 15px;
    }

    textarea {
      height: 80px;
    }

    input:focus,
    textarea:focus {
      background-color: #ccfffc;
      border: 2px solid white;
    }
  }
}
