@import "../../global/styles.scss";

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;

  h2 {
    color: white;
    font-size: 40px;
    border-bottom: 2px solid white;
  }

  form {
    margin-top: 10px;

    label {
      color: white;
      font-size: 18px;
      font-weight: 600;
    }

    input,
    textarea {
      font-size: 16px;
      background-color: #c3dad1;
      border-radius: 2px;
      border: 1px solid white;
      width: 250px;
      text-align: left;
      padding: 5px;
      margin: 8px 0 15px;
      outline: none;
      @include large-screen-and-more {
        width: 400px;
      }
    }

    textarea {
      height: 80px;
    }

    input:focus,
    textarea:focus {
      background-color: #ccfffc;
      border: 2px solid white;
    }
  }

  button {
    background-color: white;
    color: #34735c;
    font-size: 15px;
    outline: none;
    border: 0;
    height: 40px;
    padding: 0 25px;
    border-radius: 5px;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      background-color: #4d977c;
      color: white;
      border: 2px solid white;
    }
  }
}
