.dashboard {
  display: flex;
  .dashboard-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: auto;
    background-color: #34735c;
    min-height: 100vh;
    padding-left: 10px;
    h1 {
      &:hover {
        cursor: pointer;
      }
    }
    .dashboard-menu {
      h2 {
        &:hover {
          cursor: pointer;
        }
        &.active {
          border-bottom: 1px solid white;
        }
      }
    }
  }
  .dashboard-right {
    max-height: 100vh;
    width: 100%;
    overflow-y: auto;
    //position: relative;
    .add-button {
      position: absolute;
      bottom: 40px;
      right: 40px;
      width: 100px;
      height: 100px;
      font-size: 86px;
      border-radius: 50%;
      color: white;
      background-color: #34735c;
      outline: none;
      border: 1px solid white;
      z-index: 9;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.form {
  div {
    display: flex;
    margin-bottom: 10px;
    span {
      width: 30%;
    }
  }
}
