.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #34735c;
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
<<<<<<< HEAD
  color: white;
  padding: 0 10px;
  border-right: 1px solid black;
  .collapse {
    position: absolute;
=======

  color: white;
  padding: 0 20px;

  .logo {
    width: 250px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .collapse {
    position: absolute;
    cursor: pointer;
>>>>>>> 399d0ef28040976d1561065e7dc4bc1e4ae1dd8f
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    filter: brightness(100%) invert(1);
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
<<<<<<< HEAD
    align-items: center;
    gap: 15px;
=======
    align-items: flex-start;
    gap: 15px;

>>>>>>> 399d0ef28040976d1561065e7dc4bc1e4ae1dd8f
    div {
      display: flex;
      align-items: center;
      gap: 15px;
<<<<<<< HEAD
=======

>>>>>>> 399d0ef28040976d1561065e7dc4bc1e4ae1dd8f
      img {
        width: 40px;
        height: 40px;
        filter: brightness(100%) invert(1);
        color: white;
        fill: white;
        stroke: white;
      }

<<<<<<< HEAD
=======
      h2 {
        font-size: 20px;
      }

>>>>>>> 399d0ef28040976d1561065e7dc4bc1e4ae1dd8f
      &:hover {
        cursor: pointer;
      }
    }
  }
  .mapMenu {
    width: 100%;
    .button {
      background-color: orange;
      padding: 10px;
      outline: none;
      border: none;
<<<<<<< HEAD
=======
      cursor: pointer;
>>>>>>> 399d0ef28040976d1561065e7dc4bc1e4ae1dd8f
    }
    .checkboxes {
      margin-top: 10px;
    }
    select {
      height: 38px;
      width: 80%;
    }
    .search {
      height: 34px;
      width: 90%;
      margin-bottom: 20px;
    }
  }
  &.collapsed {
    .logo {
      width: 40px;
      height: 40px;
      margin-bottom: 20px;
    }
    .content {
      gap: 25px;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
<<<<<<< HEAD
=======

.activeElement {
  border-bottom: 1px solid white;
}
>>>>>>> 399d0ef28040976d1561065e7dc4bc1e4ae1dd8f
